.footer{
    width: 90%;
    margin: 10px auto;
    box-shadow:0 5px 5px 6px rgb(128, 128, 128);
    text-align: start;
    padding: 20px;
    background-color: var(--secondary);
    border-radius: 15px;
}
.footer-nav{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 10px 0;
}
.footer div{
    display: flex;
    flex-direction: column;
}
.footer div ul{
    display: flex;
    flex-direction: column;
}
.footer div ul li{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.footer ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
}
.footer ul li{
    display: flex;
}

.footer a{
    text-decoration: none;
    color: A49A8D;
    font-size: 20px;
    margin: 0 5px;
}
.footer a:hover{
}