.header{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 10px auto;
    padding: 0 10px;
    align-items: center;
}
.header img{
    width: 80px;
    border-radius: 5px;
    margin: 5px 5px 5px 0;
}

.header ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
}
.header ul li{
    display: flex;
}

.header a{
    display: block;
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    margin: 0 5px;
}
.header a:hover{
    color: #FFF5E1;
}